* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}
.list{
    list-style: none;
    display: flex;
    padding: 20px 0;
    align-items:center;
    margin-left: 259px;
 
    
}
  .item{
    padding: 16px;
}
  .item a{
    align-items: center;
    color: #575859;
    font-weight: 600;
    line-height: 14.872px; 
    text-decoration: none;
}
.txt1{
    margin-left: 111px;
}
.navbar{
    margin-left: 161px;
}
.txt2{
    margin-left: 161px;
}
.btn{
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color:#FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}
.txt3{
    color: #ffffff;
    font-size: 72px;
    font-weight: 800;
    line-height: 80px;
    margin-left: 250px; 

}
.txt4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 42px; 
    margin-left: 250px;
    padding-top: 8px;
    max-width: 707px;
}

.btn__side{
    width: 260px;
    height: 66px;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20); 
    margin-top: 36px;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px; 
    border: none;
    cursor: pointer;
    margin-left: 250px;
}

.card1{
   display: flex;
   align-items: center;
   width: 1800px;
   height: 680px;
   flex-shrink: 0;
   margin-top: 148px;
   border-radius: 36px;
   background: linear-gradient(80deg, #5B52A3 1.08%, #40B8EA 100%);
}
.hero{
   padding-top: 160px; 
}
.carousel{
    width: 1600px;
    height: 100%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    padding: 24px 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.carousel button{
    border: none;
    background: transparent;
    cursor: pointer;
    max-width: 70px;
    margin-right: 18px;
    margin-left: 27px;
}
.carousel-item{
    display: flex;
    align-items: center;
    gap: 17px;
    cursor: pointer;
    padding: 24px 23px;
    gap: 20px;
}
.carousel-item span{
    color: #1F2428;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.elements{
    padding-top: 54px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
}
.elements-item h3{
    color:#1F2428;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    width: 100%;
    max-width: 400px;
}
.country{
    border-radius: 16px;
    background: #F2F6FC;
    display: flex;
    width: 100%;
    max-width: 400px;
    padding: 33px 34px;
}
.country{
  display: flex;
  align-items:center;
  gap: 28px;
  margin-top: 44px;
}
.price h4{
    color:#1F2428;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.price p{
    color:#1F2428;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}
.img-center{
    width: 446px;
    height: 446px;
    background: lightcyan;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-text{
    color: #01CD7D;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px; 
}

.price-text{
    color: #01CD7D;
}
.country .price-text{
    color: #01CD7D;
}
.txt5{
    color: #1F2428;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px; 
}
.txt6{
    color:#1F2428;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px; 
}
.span1{
    color: #01CD7D;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}
.txt7{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
.txt8{
    color:#ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 9px;
}
.card2{
    display: flex;
}
.photo2{
    padding: 38px 200px;
}
.btn__side2{
    width: 240px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px; 
    border: none;
    margin-top: 54px;
}
.card2{
    align-items: center;
    flex-shrink: 0;
    margin-top: 148px;
    border-radius: 36px;
    background: linear-gradient(80deg, #5B52A3 1.08%, #40B8EA 100%);
}
.txt9{
    color:#1F2428;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px;
    margin-top: 160px;
}
.txt10{
    color:#1F2428;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 20px;
}
.carousel3{
  width: 1600px;
  height: 270px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
  padding: 46px 36px;
}
.txt11{
    color: #222;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
}
.card3{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}
.txt12{
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px; 
}

.txt13{
    width: 246px;
    height: 1px;
    flex-shrink: 0;
    background: #222;
    margin-top: 20px;
}
.btn__side3{
    width: 240px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: var(--1, #FFF);
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 32px;
    cursor: pointer;
    border: none;
}

.cards{
    display: flex;
    margin-left: 50px;
}
.card9{
    display: flex;
}
.txt14{
    color: #1F2428;
    font-size: 36px;
    font-weight: 800;
    line-height: 56px;
    margin-top: 80px;
}
.txt15{
    color: #1F2428;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 27px;
    margin-top: 20px;
}
.txt16{
    color: #222;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; 
}
.txt17{
    color: #222;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px; 
}
.card5{
    display: flex;    
}
.card6{
    width: 1600px;
    height: 100%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    padding: 10px 29px;
    display: flex;
    align-items: center;
    display: flex;
    margin-top: 20px;
  
}
.card7{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 523px;
    gap: 92px;
}    
.card8{
    display: flex;
}
.icon{
    margin-left: 7px;
}
.txt18{
    color: #1F2428;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px;
    margin-top: 170px;
}
.txt20{
    color: #1F2428;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px; 
}
.txt21{
    color: #01CD7D;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.card10{
    display: flex;
    gap: 78px;
}
.txt22{
    color: #1F2428;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 50px;
}
.btn__side4{
    width: 240px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px; 
    border: none;
    margin-top: 30px;
}
.txt23{
    color:#1F2428;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px;
    margin-top: 150px;
}
.txt24{
    color:#1F2428;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    margin-top: 20px;
}
.txt25{
    color: #1F2428;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 37px;
}
.txt26{
    color:#1F2428;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding: 10px 37px;
}
.card11{
    width: 447px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
}
.photo3{
   padding: 35px 37px;
}
.wrapper{
    display: flex;
    gap:30px;
    margin-top: 40px;
}
.txt27{
    color: #1F2428;
    font-size: 36px;
    font-weight: 800;
    line-height: 56px; 
    margin-top: 80px;
}
.txt28{
    color: #1F2428;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding-top: 22px;
} 
.txt29{
    color: #1F2428;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 14px; 
}
.txt30{
    padding-top: 67px;
}
.txt30 span{
    color: #1F2428;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; 
}
.txt31{
    padding-top: 6px;
    padding-left: 38px;
}
.wrapper2{
    display: flex;
    gap: 40px;
}
.card12{
    display: flex;
    width: 685px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--5, #FFF);
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    margin-top: 30px;
}
.photo4{
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 10px;
}
.wrapperr{
    margin-left: 38px;
}
.txt32{
    color:  #1F2428;
    font-size: 44px;
    font-weight: 800;
    line-height: 56px; 
    margin-top: 150px;
}
.txt33{
    color:#1F2428;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}
.txt34{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding: 64px;
}
.txt35{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    padding-top: 113px;
    padding-left: 10px;
}
.btn__side5{
    width: 240px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    border: none;
    margin-top: 92px;
    margin-left: 67px;
}
.card14{
    display: flex;
    border-radius: 36px;
    background: linear-gradient(80deg, #5B52A3 1.08%, #40B8EA 100% );
    margin-top: 150px;
}
.card15{
    display: flex;
    padding-left: 114px;
}
.rectangle{

}
.email{
    padding-top: 108px;
}
.logo__footer{
    margin-top: 70px;
}
.footer__svg{
    margin-top: 34px;
}
.footer__card{
    display: flex;
}
.footer__card2{
    margin-left: 50px;
}
.footer__txt{
    margin-left: 207px;
    margin-top: 86px;
}
.footer__txt2{
    margin-left: 149px;
    margin-top: 86px;
}
.footer__txt3{
    margin-left: 217px;
    margin-top: 86px;
}
.txt36{
    color:#1F2428;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px; 
}
.txt37{
    color: #1F2428;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; 
}
.txt38{
    width: 1800px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 36px;
    background: #C0C9D7;
    margin-top: 55px;
}
.txt39{
    color:#1F2428;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 36px;
    margin-bottom: 33px;
}





